#main-links > a{
  margin: 10px;
  color: #34495e;
  text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1, -1px 1px 0 #ecf0f1, 1px 1px 0 #ecf0f1;
  font-size: 2em;
}

*{
  text-decoration: none;
  font-family: 'Cinzel Decorative'
}

a{
  cursor: pointer;
  color: black;
  font-size: larger;
}

#home-background{
 
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.reflix{
  background: cornflowerblue;
  overflow: hidden; 
  text-align: right;
  display: inline-block;
  margin: 10px 10px 10px 10px0;
  padding: 5px 10px;
  margin-left: 80%;
}

body{
  background-color: #000000;
}